{% extends 'base.html.twig' %}

{% block title %}Consulter Fiche{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" type="text/css" />
{% endblock %}
{% block body %}
{%include 'visiteur/enteteVisiteur.html.twig'%}
<div class="corp">
    {{mois}}
    {{annee}}
    <h1>Fiches de frais forfait</h1>
    <table>
        <tr>
            <td></td>
            <td>Quantite</td>
            <td>Libelle</td>
            <td>Montant</td>
        </tr>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
    </table>
    <h1>Fiches de frais hors forfait</h1>
    <table>
        <tr>
            <td></td>
            <td>date</td>
            <td>Montant</td>
            <td>Libelle</td>
        </tr>
        

        {% if taille > 1%}
        {% for i in 0..taille - 1  %}
        <tr>
            <td>{{i + 1}}</td>
            <td>{{tab[i]["date"]}}</td>
            <td>{{tab[i]["montant"]}}</td>
            <td>{{tab[i]["libelle"]}}</td>
        </tr>
        {% endfor %}
        {%endif%}
    </table>
</div>



{% endblock %}